bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
node_modules/
.env
dist/
package-lock.json

# Executables
*.swf
*.air
*.ipa
*.apk
*.env
*.zip

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
node_modules
.DS_Store